USE [master]
GO
/****** Object:  Database [SinhVien]    Script Date: 21/06/2018 11:12:08 AM ******/
CREATE DATABASE [SinhVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SinhVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SinhVien.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SinhVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SinhVien_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinhVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinhVien]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DangNhap]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DangNhap](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Role] [int] NULL,
	[MSSV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_DangNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Diem]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Diem](
	[MSSV] [nvarchar](50) NOT NULL,
	[MaMH] [nvarchar](50) NOT NULL,
	[Diem] [float] NULL,
 CONSTRAINT [PK_tbl_Diem] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_DMMonHoc]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_DMMonHoc](
	[MaMH] [nvarchar](50) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
	[SoTinChi] [int] NULL,
	[Khoa] [nvarchar](50) NULL,
 CONSTRAINT [DMMH_MaMH_pk] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Khoa]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Khoa](
	[MaKhoa] [nvarchar](50) NOT NULL,
	[TenKhoa] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Khoa] PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_SinhVien]    Script Date: 21/06/2018 11:12:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SinhVien](
	[MSSV] [nvarchar](50) NOT NULL,
	[Ho] [nvarchar](100) NULL,
	[Ten] [nvarchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NTNS] [date] NULL,
	[NoiSinh] [nvarchar](255) NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[KetQuaTN] [bit] NULL,
	[DTB] [float] NULL,
	[XepLoaiTN] [nvarchar](255) NULL,
	[isUserLogin] [bit] NULL,
 CONSTRAINT [PK_tbl_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[tbl_SinhVien] ADD  CONSTRAINT [DF_tbl_SinhVien_isUserLogin]  DEFAULT ((0)) FOR [isUserLogin]
GO
ALTER TABLE [dbo].[tbl_Diem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Diem_tbl_DMMonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[tbl_DMMonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[tbl_Diem] CHECK CONSTRAINT [FK_tbl_Diem_tbl_DMMonHoc]
GO
ALTER TABLE [dbo].[tbl_Diem]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Diem_tbl_SinhVien] FOREIGN KEY([MSSV])
REFERENCES [dbo].[tbl_SinhVien] ([MSSV])
GO
ALTER TABLE [dbo].[tbl_Diem] CHECK CONSTRAINT [FK_tbl_Diem_tbl_SinhVien]
GO
ALTER TABLE [dbo].[tbl_SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_tbl_SinhVien_tbl_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[tbl_Khoa] ([MaKhoa])
GO
ALTER TABLE [dbo].[tbl_SinhVien] CHECK CONSTRAINT [FK_tbl_SinhVien_tbl_Khoa]
GO
USE [master]
GO
